ultralytics>=8.0.0
opencv-python
matplotlib
pandas
seaborn
tqdm
tensorboard
Pillow
pycocotools
scipy
scikit-learn
albumentations
onnx
onnxruntime
onnxscript
wandb
notebook
jupyterlab
ipywidgets
pyttsx3
edge-tts
gTTS
sounddevice
soundfile
playsound3
